.social-icon {
	width: 30px;
}

#ninjas {
	display: flex;
	flex-wrap: wrap;
}

#figure #img {
	height: 100px;
}

#article #section {
	display: flex;
	justify-content: center;
}

#article #section div {
	display: flex;
	flex-direction: row;
}