.social-icon {
	width: 30px;
}

#ninjas {
	display: flex;
	flex-wrap: wrap;
}

.ninja {
	display: flex;
}

.ninja-portrait {
	width: 150px;
}

.ninja-details {
	display: inline-flex;
}
.ninja-id {
	/* display: flex;
	flex-direction: column;
	justify-content: left; */
}

.ninja-socials {
	/* display: flex;
	justify-content: space-between; */
}

article section {
	display: flex;
	flex-direction: column;
}

article section div {
	display: flex;
	flex-direction: row;
}

/* for accessibility / skip-nav links */
.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}